@font-face {
    font-family: "santteutBatang";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/santteutBatang/santteutBatang-Light.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/santteutBatang/santteutBatang-Light.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/santteutBatang/santteutBatang-Light.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/santteutBatang/santteutBatang-Light.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/santteutBatang/santteutBatang-Light.ttf") format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: "santteutBatang";
    font-weight: 500;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/santteutBatang/santteutBatang-Medium.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/santteutBatang/santteutBatang-Medium.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/santteutBatang/santteutBatang-Medium.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/santteutBatang/santteutBatang-Medium.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/santteutBatang/santteutBatang-Medium.ttf") format("truetype");
    font-display: swap;
} 
.santteutBatang {
    font-family: "santteutBatang";
}
.santteutBatang300 {
    font-family: "santteutBatang";
    font-weight: 300;
}
.santteutBatang500 {
    font-family: "santteutBatang";
    font-weight: 700;
}